name: main

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-master-build-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-
            
      - name: access to secrets
        run: |
          echo "KAKAO_REST_API_KEY=$VITE_KAKAO_REST_API_KEY" >> .env
          echo "KAKAO_REDIRECT_URL=$VITE_KAKAO_REDIRECT_URL" >> .env
          echo "OPENAI_API_KEY=$VITE_OPENAI_API_KEY" >> .env
        env:
          VITE_KAKAO_REST_API_KEY: ${{ secrets.KAKAO_REST_API_KEY }}
          VITE_KAKAO_REDIRECT_URL: ${{ secrets.KAKAO_REDIRECT_URL }}
          VITE_OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          
      - name: Install Dependencies
        run: yarn

      - name: Build
        run: yarn build

      - name: Deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_IAM_MANAGER_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_IAM_MANAGER_SECRET_ACCESS_KEY }}
        run: |
          aws s3 cp \
            --recursive \
            --region ap-northeast-2 \
            dist s3://ai-service-project
